body {
    margin: 0;
    padding: 0;
}

#world {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.ball {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
}

.floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}
