body {
    margin: 0;
    background-color: rgb(230, 236, 236);
}

#bodywithmargin {
    background-color: rgb(230, 236, 236);
    width: 78%;
    margin-left: 20%;
}

#bodywithoutmargin {
    background-color: rgb(230, 236, 236);
    width: 98%;
    margin-left: 1%;
}

/* Reset default margin/padding for body and all its children */
body,
body>* {
    margin: 0;
    padding: 0;
}