table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: gray;
    font-weight: bold;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }